/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:  url("../fonts/open-sans-v28-latin-regular.woff2") format("woff2"),
        url("../fonts/open-sans-v28-latin-regular.woff") format("woff"); 
}

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src:  url("../fonts/raleway-v26-latin-regular.woff2") format("woff2"),
        url("../fonts/raleway-v26-latin-regular.woff") format("woff");
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src:  url("../fonts/raleway-v26-latin-700.woff2") format("woff2"),
        url("../fonts/raleway-v26-latin-700.woff") format("woff");
}