.footer{
  background-color: #0B1524;
}
.footer-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  padding-top: 32px;
  padding-bottom: 96px;
}
.footer__text{
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 24px;
  width: 340px;
  margin-left: 28px;
  margin-top: 10px;
  position: relative;
}
.footer__text::before{
  content: "";
  position: absolute;
  display: inline-block;
  margin-left: -28px;
  margin-top: 10px;
  width: 12px;
  height: 18px;
  background-image: url(../../img/svg/place.svg);
}

.footer__adress{
  margin-top: 10px;
  text-align: left;
}

.footer__phone-number{
  position: relative;
  display: block;
  font-family: 'OpenSans';
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}
.footer__phone-number::before{
  position: absolute;
  left: -30px;
  background-image: url("../../img/svg/call-phone.svg");
  background-size: contain;
  width: 18px;
  height: 18px;
  content: "";
}
.footer__mail{
  position: relative;
  font-family: 'OpenSans';
  font-size: 14px;
  line-height: 21px;
}
.footer__mail::before{
  position: absolute;
  top: 0;
  left: -30px;
  background-image: url("../../img/svg/mail.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  content: "";
}

@include breakpoint-up (830px){
  .footer-inner{
    flex-direction: column;
    justify-content: center;
  }
  .footer__text{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .footer__adress{
    margin-bottom: 72px;
    margin-left: 30px;
  }
  .img-container{
    text-align: center;
  }
}
@include breakpoint-up (390px){
  .footer__text{
    width: 260px;
  }
}