.form__input{
  font-family: 'OpenSans';
  font-size: 12px;
  line-height: 14px;
  color: #C0C0C0;  
  padding: 16px 208px 17px 38px;
  background: #FFFFFF;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
  border-radius: 24px;
  border: none;
  outline: none;
  margin-right: 30px;
  margin-bottom: 40px;
}

.form-btn{
  margin-bottom: 37px;
  color: #FFFFFF;
}

@include breakpoint-up(600px){
  .form__input{
    padding: 16px 100px 17px 29px;
    margin-bottom: 24px;
    margin-right: 0px;
  }
  .form-btn{
    margin-bottom: 37px;
    color: #FFFFFF;
  }
}

@include breakpoint-up (402px){
  .form__input{
    padding: 16px 60px 17px 29px;
    margin-bottom: 24px;
    margin-right: 0px;
  }
}