.header{
  background-color: #1B2330;
  margin-bottom: 72px;
  position: sticky;
  top: 0;
}
.header-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 74px;
}