.main{
  background-color: #1B2330;
  color: #fff;
  padding-bottom: 180px;
}
.main-inner{
  display: flex;
}
.main__img{
  padding-right: 40px;
}
.main-inner__title{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-top: 125px;
  margin-bottom: 19px;
}
.main-inner__text{
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 19px;
}
.main-inner__link{
  position: relative;
  font-family: 'OpenSans';
  font-size: 16px;
  line-height: 19px;
  color: rgba(98, 224, 217, 1);
  text-decoration: underline;
  margin-top: 24px;
}
.main-inner__link::after{
  position: absolute;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../../img/svg/right-navi.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 4px;
  margin-left: 5px;
}

@include breakpoint-up (986px){
  .main__img{
    width: 400px;
    height: 330px;
    margin: 0 auto;
    margin-top: 100px;
  }
}

@include breakpoint-up (858px){
  .main-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main__img{
    width: 300px;
    height: 230px;
    margin: 0 auto;
    padding-right: 0;
  }
  .main-inner__title{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  .main-inner__text{
    font-size: 14px;
    line-height: 21px;
  }
}