.service{
  padding-bottom: 136px;
  .container{
    width: 880px;
    margin: 0 auto;
  }
}

@include breakpoint-up (880px){
  .service{
    padding-bottom: 136px;
    .container{
      width: 320px;
      margin: 0 auto;
    }
  }
}
